# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: CI
on:
  workflow_call:
    inputs:
      lint:
        description: "Lint"
        type: boolean
        required: false
        default: true
      release:
        description: "Release"
        type: boolean
        required: false
        default: true

jobs:
  lint:
    name: Lint
    if: ${{ inputs.lint }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Super-linter
        uses: super-linter/super-linter@v7.2.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          LINTER_RULES_PATH: ./
          MARKDOWN_CONFIG_FILE: .markdownlintrc
          IGNORE_GENERATED_FILES: true
          VALIDATE_NATURAL_LANGUAGE: false
          VALIDATE_JSCPD: false
          VALIDATE_CHECKOV: false

  release:
    name: release
    # needs: lint
    if: |
      inputs.release && 
      github.event_name == 'push' && 
      github.repository_owner == 'benelan' && 
      contains(fromJSON('["master", "main"]'), github.ref_name)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - name: release-please config
        id: release-please-config
        run: |
          if [ -f .github/release-please-config.json ]; then
              echo "config-file=.github/release-please-config.json" >>"$GITHUB_OUTPUT"
              [ -f .github/release-please-manifest.json ] &&
                  echo "manifest-file=.github/release-please-manifest.json" >>"$GITHUB_OUTPUT"
              [ -f .github/.release-please-manifest.json ] &&
                  echo "manifest-file=.github/.release-please-manifest.json" >>"$GITHUB_OUTPUT"
          else
              echo "release-type=simple" >>"$GITHUB_OUTPUT"
          fi
          exit 0
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          config-file: ${{ steps.release-please-config.outputs.config-file }}
          release-type: ${{ steps.release-please-config.outputs.release-type }}
          manifest-file: ${{ steps.release-please-config.outputs.manifest-file }}
      - name: tag stable versions
        if: ${{ steps.release.outputs.release_created }}
        run: |
          git config user.name github-actions[bot]
          git config user.email github-actions[bot]@users.noreply.github.com
          git tag -d stable || true
          git push origin :stable || true
          git tag -a stable -m "Last Stable Release"
          git push origin stable
