# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Cleanup

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:
    inputs:
      before:
        description: End of the notification cleanup time range in days relative to now
        type: number
        required: false
        default: 0
      since:
        description: Start of the notification cleanup time range in days relative to now
        type: number
        required: false
        default: 3

jobs:
  repo-settings:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Update Repo Settings
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.USER_TOKEN }}
          script: |
            const script = require('${{ github.workspace }}/scripts/repo.js')
            await script({github, context, core})

  notifications:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Cleanup Notifications
        uses: actions/github-script@v7
        env:
          BEFORE: ${{ inputs.before }}
          SINCE: ${{ inputs.since }}
        with:
          github-token: ${{ secrets.USER_TOKEN }}
          script: |
            const script = require('${{ github.workspace }}/scripts/notifications.js')
            await script({github, context, core})
